.fundoHome {
    background-image: url(../../assets/christin-hume-0MoF-Fe0w0A-unsplash.jpg);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
    min-height: 70vh;
    opacity: 85%;
  
  }